@model DichVuThuCungKVH.Model.TaiKhoan

@{
    ViewBag.Title = "Chi Tiết Tài Khoản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi Tiết Tài Khoản</h2>

<div>
    <h4>Thông Tin Tài Khoản</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Tài Khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTK)
        </dd>

        <dt>
            Mật Khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            Loại Tài Khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiTK)
        </dd>

        <dt>
            Trạng Thái
        </dt>

        <dd>
            @(Model.TrangThai == true ? "Hoạt động" : "Khóa")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTK }) |
    @Html.ActionLink("Back to List", "Index")
</p>