@model IEnumerable<DichVuThuCungKVH.Model.KhachHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản Lý Khách Hàng</h2>

<p>
    <a href="@Url.Action("Create", "KhachHangs")" class="btn btn-primary">Create New</a>
</p>

<div class="table-responsive-xxl">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Mã Khách Hàng</th>
                <th>Tên</th>
                <th>Ngày Sinh</th>
                <th>SĐT</th>
                <th>Địa Chỉ</th>
                <th>GT</th>
                <th>Email</th>
                <th>TG Đăng Ký</th>
                <th>TT Liên Hệ</th>
                <th>Ghi Chú</th>
                <th>TK</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.MaKH)</td>
                    <td>@Html.DisplayFor(modelItem => item.TenKH)</td>
                    <td>@Html.DisplayFor(modelItem => item.NgaySinh)</td>
                    <td>@Html.DisplayFor(modelItem => item.SDT)</td>
                    <td>@Html.DisplayFor(modelItem => item.DiaChi)</td>
                    <td>@Html.DisplayFor(modelItem => item.GioiTinh)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.ThoiGianDangKy)</td>
                    <td>@Html.DisplayFor(modelItem => item.TinhTrangLienHe)</td>
                    <td>@Html.DisplayFor(modelItem => item.GhiChu)</td>
                    <td>@Html.DisplayFor(modelItem => item.TaiKhoan.TenTK)</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("Edit", "KhachHangs", new { id = item.MaKH })">Edit</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Details", "KhachHangs", new { id = item.MaKH })">Details</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Delete", "KhachHangs", new { id = item.MaKH })">Delete</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("ThuCungCuaKhachHang", "ThuCungs", new { id = item.MaKH })">Xem Thú Cưng</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("LuotSDDV", "SuDungDichVus", new { id = item.MaKH })">Sử dụng dịch vụ </a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>