@model IEnumerable<DichVuThuCungKVH.Model.CTPhieuNhan_DichVu>
@{
    ViewBag.Title = "Chi Tiết Phiếu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create", new { maPhieu = ViewBag.MaPhieu })
</p>

<h2>Danh Sách Dịch Vụ Của Phiếu</h2>

@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                Mã Chi Tiết
            </th>
            <th>
                Mã Phiếu
            </th>
            <th>
                Mã Dịch Vụ
            </th>
            <th>
                Dịch Vụ Sử Dụng
            </th>
            <th>
                Người Thực Hiện
            </th>
            <th>
                Thời Gian
            </th>
            <th>
                Số Lượng
            </th>
            <th>
                Đơn Giá
            </th>
            <th>
                Ghi Chú
            </th>
            <th>
                Hành Động
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaCT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaPhieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DichVuSuDung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NguoiThucHien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGian)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GhiChu)
                </td>
                <td>
                    <!-- Hành động -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Action
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="">Details</a></li>
                            <li><a class="dropdown-item" href="">Edit</a></li>
                            <li><a class="dropdown-item" href="">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p class="alert alert-info">Chưa Có Dịch Vụ Cho Phiếu</p>
}