@model DichVuThuCungKVH.Model.KhachHang
@{
    ViewBag.Title = "Register";
}
<!-- Bootstrap CSS -->

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Pet Shop</title>

    <meta name="keywords" content="dịch vụ thú cưng, dịch vụ chăm sóc thú cưng, dịch vụ tắm thú cưng, dịch vụ tắm cho mèo, dịch vụ tắm cho chó">
    <meta name="description" content="Dogs Mom cung cấp dịch vụ chăm sóc thú cưng tại TPHCM như: tắm, trông giữ, cạo lông, cắt móng,.. tư vấn dinh dưỡng cho chó, mèo uy tín tại tphcm. Chuồng trại chúng tôi luôn đảm bảo tốt như: khử trùng, khử mùi, …giúp thú cưng của bạn thật sử khỏe mạnh.">
    <meta name="title" content="Dịch vụ chăm sóc thú cưng tại TPHCM - Uy tín và chất lượng">
    <meta name="copyright" content="petmom.vn">
    <meta name="author" content="petmom.vn">
    <link href="https://www.petmom.vn/assets/4b18d08a216b5a87ddc206f234a70db9/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://www.petmom.vn/assets/aa471fe8211faf7b8dbce42b8c6b6b46/css/lightslider.min.css" rel="stylesheet" type="text/css" />
    <link href="https://www.petmom.vn/assets/aebcb58e2293a3576719fe004ec4ca79/css/swiper.min.css" rel="stylesheet" type="text/css" />
    <link href="https://www.petmom.vn/assets/d03f3754686be1834b9a75acd0abdc3e/jquery.toast.min.css" rel="stylesheet" type="text/css" />
    <link href="https://www.petmom.vn/assets/73cf5b46f967c21918605eeb581ff5ee/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css" rel="stylesheet" type="text/css" />
    <link href="https://www.petmom.vn/css/main.css?v=0.2.4.6" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Bootstrap JavaScript và Popper.js (cần thiết cho Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://www.petmom.vn/assets/b545599a487b920482923ad1fd3f5d5f/jquery.min.js" type="text/javascript"></script>
    <script src="https://www.petmom.vn/assets/4b18d08a216b5a87ddc206f234a70db9/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://www.petmom.vn/assets/aa471fe8211faf7b8dbce42b8c6b6b46/js/lightslider.min.js" type="text/javascript"></script>
    <script src="https://www.petmom.vn/assets/aebcb58e2293a3576719fe004ec4ca79/js/swiper.min.js" type="text/javascript"></script>
    <script src="https://www.petmom.vn/assets/d03f3754686be1834b9a75acd0abdc3e/jquery.toast.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" type="text/javascript"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" type="text/javascript"></script>
    <script src="https://www.petmom.vn/admin/js/shopping_cart.js?v=0.0.1" type="text/javascript"></script>
    <script src="https://www.petmom.vn/js/main.js?v=0.2.1" type="text/javascript"></script>
    <script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>
    <script src="https://www.petmom.vn/js/pagination.js?v=2.1.5" type="text/javascript"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166948349-1"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166948349-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-166948349-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Ads: 983177976 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-983177976"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-983177976');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y2KP2RRK3W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y2KP2RRK3W');
    </script>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Bootstrap JavaScript và Popper.js (cần thiết cho Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Nút "Đặt Lịch" -->
    <style>
        .custom-btn-text {
            font-size: 36px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 header-left">
                    <div class="logo edit_potion_logo">
                        <a href="/" title="Về trang chủ">
                            <img src="~/Images/LogoKVH.png" alt="Petmom" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-8 col-md-8 header-right text-right">
                    <div class="search-bar d-none d-md-block">
                        <form action="/tim-kiem" method="get">
                            <div id="custom-search-input">
                                <div class="input-group">
                                    <input type="text" name="query" class="form-control" placeholder="Nhập từ khóa để tìm kiếm...">
                                    <button type="submit" font-size=20px class="btn btn-primary">Tìm kiếm</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="div_nav_button_head d-none d-md-block">
                        <div class="div_nav_btn_icon">
                            <a href="tel:0916338901">
                                <img class="img-nav-btn-hotline" src="~/Images/hotline.png" alt="Hotline">
                                0916338901
                            </a>
                            <a href="tel:0946749355">
                                <img class="img-nav-btn-tel" src="~/Images/hotline.png" alt="Hotline">
                                0946749355
                            </a>
                            <a href="">
                                <img class="img-nav-btn-tel" src="~/Images/icon-facebook.png" alt="Facebook">
                            </a>

                            <a href="">
                                <img class="img-nav-btn-tel" src="~/Images/icon-youtube.png" alt="YouTube">
                            </a>

                        </div>
                        <div class="hotline-head cart-badge">
                            <a href="@Url.Action("GioHang","GioHang")" class="ico-head">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav id="nav-hori" class=" transition default hidden-xs">
        @Html.Action("NavPartial", "DVTC")
    </nav>
    <section>
        <div class="swiper-container swiper-main-container">
            <div class=swiper-wrapper>
                <a class="swiper-slide" href="#" title="Dịch vụ cắt tỉa lông chó mèo" target="_blank">
                    <img src="https://www.petmom.vn/uploads/slider/1587294017_d2fc379d30cbb0a0ef42.jpg" alt="Dịch vụ cắt tỉa lông chó mèo" style="width: 100%;">
                </a>
                <a class="swiper-slide" href="#" title="Shop thú cưng" target="_blank">                <img src="https://www.petmom.vn/uploads/slider/1587294030_078f3c42fdbd6a5902eb.jpg" alt="Shop thú cưng" style="width: 100%;">                </a>
                <a class="swiper-slide" href="#" title="Khách sạn cho chó" target="_blank">                <img src="https://www.petmom.vn/uploads/slider/1587294047_1bb4522f9f6992c3206f.jpg" alt="Khách sạn cho chó" style="width: 100%;">                </a>
            </div>
            <div class=swiper-pagination></div>
        </div>
        <div class=container>
            <div class="row">

                <section class=col-md-12 id="id1">
                    @Html.Action("CacDichVu", "DVTC")
                </section>
                <button id="datdichvu" type="button" class="btn btn-primary" data-toggle="modal" data-target="#formModal">
                    <h5 class="mb-0 custom-btn-text">Đặt Lịch</h5>

                </button>
                <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="formModalLabel">Đăng Ký Dịch Vụ</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("DangKyDichVu", "DichVu", FormMethod.Post))
                                {
                                    @Html.ValidationSummary(true)

                                    <div class="text-center">
                                        <img src="~/Images/LogoKVH.png" class="img-fluid profile-image-pic img-thumbnail my-3 mx-auto d-block" width="200px" alt="profile">
                                    </div>

                                    <div class="mb-3 text-center">
                                        <label for="TenKH">Tên:</label>
                                        @Html.TextBoxFor(model => model.TenKH, new { @class = "form-control mx-auto d-block" })
                                        @Html.ValidationMessageFor(model => model.TenKH)
                                    </div>

                                    <div class="mb-3 text-center">
                                        <label for="SDT">Số Điện Thoại</label>
                                        @Html.TextBoxFor(model => model.SDT, new { @class = "form-control mx-auto d-block" })
                                        @Html.ValidationMessageFor(model => model.SDT)
                                    </div>

                                    <div class="mb-3 text-center">
                                        <label for="DiaChi">Địa Chỉ:</label>
                                        @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control mx-auto d-block" })
                                        @Html.ValidationMessageFor(model => model.DiaChi)
                                    </div>

                                    <div class="mb-3 text-center">
                                        <label for="Email">Email:</label>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control mx-auto d-block" })
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </div>

                                    <div class="mb-3 text-center">
                                        <label for="GhiChu">Notes:</label>
                                        @Html.TextAreaFor(model => model.GhiChu, new { @class = "form-control mx-auto d-block", rows = 4, cols = 50 })
                                        @Html.ValidationMessageFor(model => model.GhiChu)
                                    </div>
                                    <div class="text-center">
                                        <input type="submit" value="Đăng Ký" class="btn btn-primary px-5" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=container id="id2">
            @Html.Action("SanPhamPartial", "DVTC")
        </div>

        <div class="container">
            <div class=row>
                <div class=col-md-12>

                </div>
            </div>
            <div class="row">
            </div>
            <div class=row>
                <section class=col-md-12>
                    <div class="row">
                        <section class="col-md-12">
                            <div class="row main-topic">
                                <section class="homepage-row-product">
                                    <div class="homepage-row-product-title text-center">
                                        <h2>
                                            <a href="/kinh-nghiem-hay/" title="Kinh Nghiệm Hay ">Kinh Nghiệm Hay</a>
                                        </h2>
                                    </div>
                                    <div class="col-md-8" style="margin-bottom:40px">
                                        <img src="https://www.petmom.vn/uploads/content/1590997811_0fe0a521387abbc94743.jpg" class="img-responsive">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="media">
                                            <div class="media-body">
                                                <h3 class="media-heading">
                                                    <a href="#" title="Dịch vụ chăm sóc thú cưng Quận 8">Dịch vụ chăm sóc thú cưng Quận 8</a>
                                                </h3>
                                                <p>04/10/2023 15:31:53 PM</p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-body">
                                                <h3 class="media-heading">
                                                    <a href="#" title="Mèo Anh Lông Ngắn Màu Lilac">Mèo Anh Lông Ngắn Màu Lilac</a>
                                                </h3>
                                                <p>04/10/2023 15:31:42 PM</p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-body">
                                                <h3 class="media-heading">
                                                    <a href="#" title="Bánh Thưởng Cho Chó Mèo">Bánh Thưởng Cho Chó Mèo</a>
                                                </h3>
                                                <p>04/10/2023 15:31:30 PM</p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-body">
                                                <h3 class="media-heading">
                                                    <a href="#" title="Lịch tẩy giun chó Poodle">Lịch tẩy giun chó Poodle</a>
                                                </h3>
                                                <p>04/10/2023 15:31:17 PM</p>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <footer>
        <div class=container>
            <div class=col-md-4>
                <h3 style="font-size: 20px"><strong>KẾT NỐI MẠNG XÃ HỘI</strong></h3>
                <div>
                    <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100048806028664" data-tabs="timeline" data-width="340" data-height="130"
                         data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false">
                        <blockquote cite="https://www.facebook.com/profile.php?id=100048806028664" class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/profile.php?id=100048806028664">Facebook</a>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class=col-md-4>
                <h3 style="text-align:left;font-size: 20px;text-transform: uppercase;"><strong>Hỗ trợ khách hàng</strong></h3>
                <div style="padding-left: 0px">
                    <p style="text-align:left; font-size :15px">
                        <a href="#" title="quy trình thiết kế và thi công nội thất" ref="nofollow">Quy Trình Làm Việc</a>
                    </p>
                    <p style="text-align: left; font-size: 15px">
                        <a href="#" title="chính sách bảo hành và đổi trả hàng" ref="nofollow">Bảo Hành - Đổi Trả</a>
                    </p>
                    <p style="text-align: left; font-size: 15px">
                        <a href="#" title="hình thức thanh toán tiền" ref="nofollow">Hình Thức Thanh Toán</a>
                    </p>
                    <p style="text-align: left; font-size: 15px">
                        <a href="#" title="chính sách vận chuyển, giao nhận và lắp đặt" ref="nofollow">Vận Chuyển - Giao Nhận</a>
                    </p>
                    <p style="text-align: left; font-size: 15px">
                        <a href="#" title="chính sách bảo mật thông tin" ref="nofollow">Chính Sách Bảo Mật</a>
                    </p>
                </div>
                <a href="//www.dmca.com/Protection/Status.aspx?ID=5768f13a-27ba-4c0b-857e-59a3fcada35e" title="DMCA.com Protection Status" class="dmca-badge"> <img src="https://images.dmca.com/Badges/_dmca_premi_badge_4.png?ID=5768f13a-27ba-4c0b-857e-59a3fcada35e" alt="DMCA.com Protection Status" /></a>
                <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
            </div>
            <div class=col-md-4>
                <h3 style="font-size: 20px;"><strong>PET SHOP KVH</strong></h3>
                <div style="padding-left: 0px; font-size: 15px">

                    <p>
                        <span>
                            <strong>
                                Tel: <span style="color: #ff0000; font-size: 15px">
                                    <a style=color:#ff0000 href="tel:0387908930">038888888</a>
                                </span>
                            </strong>
                            <strong>- Hotline:</strong> <span style="color: #ff0000; font-size: 15px">
                                <strong><a style="color:#ff0000" href="tel:0387908930 ">038888888 </a></strong>
                            </span>
                        </span>
                    </p>
                    <p>
                        <span>
                            <strong>Email: </strong>
                            <span>khanhdo1307@gmail.command</span>
                        </span>
                    </p>
                    <p>
                        <span>
                            <strong>Địa chỉ : </strong>
                            <em>
                                <a rel="noopener noreferrer" href="" target="_blank">Thủ Dầu Một, Bình Dương</a>
                            </em>

                        </span>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <a href=# id=top>↑</a>
    <a href="tel:0387908930 " id="callButton" class="hidden-xs">
        <img src="/images/hot-line.png">
    </a>
    <ul id=mobile-bar class=visible-xs>

        <li style="background-color: white; font-size: 15px">
            <a href="tel:0387908930" target="_blank">
                <img src=/images/za-lo.png width=36>
            </a>
        </li>
        <li style="background-color: white; font-size: 15px">
            <a href="https://www.facebook.com/profile.php?id=100048806028664m" target=_blank>
                <img src="/images/face-book.png?v1" width=36>
            </a>
        </li>
        <li style="background-color:white">
            <a data-toggle="modal" data-target="#contactModal">
                <img src="/images/lien-he.png" width=36>
            </a>
        </li>

        <li style="background-color: white; font-size: 15px">
            <a href="tel:0387908930 " target="_blank">
                <img src="/images/hot-line.png?v=1" width=36>
            </a>
        </li>

        <li style="background-color: white; font-size: 15px" class="cart-badge">
            <a href="https://www.petmom.vn/cart" class="ico-head" style="width: 36px; height: 36px; font-size: 28px;">
                <i class="glyphicon glyphicon-shopping-cart"></i>
                <span>0</span>
            </a>
        </li>
    </ul>

    <script src="https://www.petmom.vn/assets/b545599a487b920482923ad1fd3f5d5f/jquery.min.js" type="text/javascript"></script>
    <script src="https://www.petmom.vn/assets/4b18d08a216b5a87ddc206f234a70db9/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://www.petmom.vn/assets/aa471fe8211faf7b8dbce42b8c6b6b46/js/lightslider.min.js" type="text/javascript"></script>
    <script src="https://www.petmom.vn/assets/aebcb58e2293a3576719fe004ec4ca79/js/swiper.min.js" type="text/javascript"></script>
    <script src="https://www.petmom.vn/assets/d03f3754686be1834b9a75acd0abdc3e/jquery.toast.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" type="text/javascript"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" type="text/javascript"></script>
    <script src="https://www.petmom.vn/admin/js/shopping_cart.js?v=0.0.1" type="text/javascript"></script>
    <script src="https://www.petmom.vn/js/main.js?v=0.2.1" type="text/javascript"></script>
    <script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>
    <script src="https://www.petmom.vn/js/pagination.js?v=2.1.5" type="text/javascript"></script>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>