@model DichVuThuCungKVH.Model.KhachHang
@{
    ViewBag.Title = "KhachHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    <table align="center">
        @using (Html.BeginForm())

        {
            @Html.ValidationSummary(true)
            <tr style="height:40px;">
                <td> Họ tên khách hàng:</td>
                <td style="font-weight:bold"> @Model.TenKH </td>
            </tr>
            <tr style="height:40px;">
                <td> Ngày sinh:</td>
                <td style="font-weight:bold"> @Model.NgaySinh </td>
            </tr>
            <tr style="height:40px;">
                <td> Địa chỉ:</td>
                <td style="font-weight:bold"> @Model.DiaChi </td>
            </tr>
            <tr style="height:40px;">
                <td> Điện thoại:</td>
                <td style="font-weight:bold"> @Model.SDT </td>
            </tr>
            <tr style="height:40px;">
                <td> Giới tính :</td>
                <td style="font-weight:bold"> @Model.GioiTinh </td>
            </tr>
            <tr style="height:40px;">
                <td> Email:</td>
                <td style="font-weight:bold"> @Model.Email </td>
            </tr>
        }
    </table>
}
else
{
    <p>Không tìm thấy thông tin khách hàng.</p>
}
