@model DichVuThuCungKVH.Model.SanPham

@{
    ViewBag.Title = "Tạo Mới Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <h2 class="text-center mb-4">Tạo Mới Sản Phẩm</h2>

    @using (Html.BeginForm("Create", "SanPhams", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Thông Tin Sản Phẩm</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group row mb-3">
                        @Html.LabelFor(model => model.TenSP, "Tên Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        @Html.LabelFor(model => model.Anh, "Hình Ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="imageFile" id="imageFile" class="form-control" accept="image/*" onchange="previewImage(this);" />
                            <div id="imagePreview" class="mt-2" style="max-width: 200px;">
                                <img id="preview" src="#" alt="Preview" style="display: none; max-width: 100%;" />
                            </div>
                            @Html.HiddenFor(model => model.Anh)
                            @Html.ValidationMessageFor(model => model.Anh, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        @Html.LabelFor(model => model.LoaiSP, "Loại Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LoaiSP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LoaiSP, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        @Html.LabelFor(model => model.GiaBan, "Giá Bán", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        @Html.LabelFor(model => model.MoTaSP, "Mô Tả Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.MoTaSP, new { @class = "form-control", rows = "4" })
                            @Html.ValidationMessageFor(model => model.MoTaSP, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        @Html.LabelFor(model => model.SoLuongConLai, "Số Lượng Còn Lại", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SoLuongConLai, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SoLuongConLai, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Tạo Mới" class="btn btn-primary" />
                            @Html.ActionLink("Quay Lại", "Index", null, new { @class = "btn btn-secondary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        function previewImage(input) {
            var preview = document.getElementById('preview');
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}