@model DichVuThuCungKVH.Model.SanPham

@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi Tiết Sản Phẩm</h2>

<div>
    <h4>Thông Tin Sản Phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Hình Ảnh
        </dt>

        <dd>
            <img src="~/Images/SanPham/@Html.DisplayFor(model => model.Anh)" alt="@Html.DisplayFor(model => model.TenSP)" style="max-width: 200px; max-height: 200px;" />
        </dd>

        <dt>
            Loại Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSP)
        </dd>

        <dt>
            Giá Bán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan) VNĐ
        </dd>

        <dt>
            Mô Tả Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaSP)
        </dd>

        <dt>
            Số Lượng Còn Lại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongConLai)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>