@model DichVuThuCungKVH.Model.SanPham

@{
    ViewBag.Title = "Chỉnh Sửa Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center mb-4">🛠️ Chỉnh Sửa Sản Phẩm</h2>

@using (Html.BeginForm("Edit", "SanPhams", FormMethod.Post, new { enctype = "multipart/form-data", @class = "needs-validation" }))
{
    @Html.AntiForgeryToken()

    <div class="card shadow p-4">
        <h4 class="mb-3 text-primary">Thông Tin Sản Phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.MaSP)

        <div class="mb-3">
            @Html.LabelFor(model => model.TenSP, "Tên Sản Phẩm", htmlAttributes: new { @class = "form-label" })
            @Html.TextBoxFor(model => model.TenSP, new { @class = "form-control", placeholder = "Nhập tên sản phẩm" })
            @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Anh, "Hình Ảnh", htmlAttributes: new { @class = "form-label" })
            @if (!string.IsNullOrEmpty(Model.Anh))
            {
                <div class="mb-2">
                    <img src="~/Images/SanPham/@Model.Anh?timestamp=@DateTime.Now.Ticks" alt="@Model.TenSP" class="img-thumbnail rounded" style="max-width: 200px;" />
                </div>
            }
            <input type="file" name="imageFile" id="imageFile" class="form-control" />
            @Html.ValidationMessage("imageFile", "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.LoaiSP, "Loại Sản Phẩm", htmlAttributes: new { @class = "form-label" })
            @Html.TextBoxFor(model => model.LoaiSP, new { @class = "form-control", placeholder = "Nhập loại sản phẩm" })
            @Html.ValidationMessageFor(model => model.LoaiSP, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.GiaBan, "Giá Bán", htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập giá bán" } })
            @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.MoTaSP, "Mô Tả Sản Phẩm", htmlAttributes: new { @class = "form-label" })
            @Html.TextAreaFor(model => model.MoTaSP, new { @class = "form-control", rows = "3", placeholder = "Nhập mô tả sản phẩm" })
            @Html.ValidationMessageFor(model => model.MoTaSP, "", new { @class = "text-danger" })
        </div>

        <div class="mb-4">
            @Html.LabelFor(model => model.SoLuongConLai, "Số Lượng Còn Lại", htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.SoLuongConLai, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập số lượng còn lại" } })
            @Html.ValidationMessageFor(model => model.SoLuongConLai, "", new { @class = "text-danger" })
        </div>

        <div class="d-flex justify-content-between">
            <input type="submit" value="💾 Lưu Thay Đổi" class="btn btn-primary" />
            @Html.ActionLink("↩️ Quay Lại Danh Sách", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}
