@model IEnumerable<DichVuThuCungKVH.Model.SanPham>

@{
    ViewBag.Title = "Quản Lý Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Quản Lý Sản Phẩm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Sản Phẩm
        </th>
        <th>
            Hình Ảnh
        </th>
        <th>
            Loại Sản Phẩm
        </th>
        <th>
            Giá Bán
        </th>
        <th>
            Mô Tả Sản Phẩm
        </th>
        <th>
            Số Lượng Còn Lại
        </th>
        <th>
            Hành Động
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                <img src="~/Images/SanPham/@Html.DisplayFor(modelItem => item.Anh)" alt="@Html.DisplayFor(modelItem => item.TenSP)" style="max-width: 100px; max-height: 100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan) VNĐ
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTaSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongConLai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaSP }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaSP }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaSP })
            </td>
        </tr>
    }
</table>