<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navAdmin"
                    aria-controls="navAdmin" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                Quản Lý Thú Cưng Admin
            </a>
            <div class="collapse navbar-collapse" id="navAdmin">
                <ul class="navbar-nav">
                    @if (Session["UserType"] != null && Session["UserType"].ToString() == "1")
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "NhanViens")">Quản Lý Nhân Viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "SanPhams")">Quản Lý Sản Phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "TaiKhoans")">Quản Lý Tài Khoản</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "KhachHangs")">Quản Lý Khách Hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "SuDungDichVus")">Sử dụng dịch vụ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "PhieuNhans")">Quản lý phiếu nhận</a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("DonHangDaDat", "NhanViens")">Quản Lý Đơn Hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("DanhSachSuDungDichVu", "NhanViens")">Quản Lý Đơn Dịch Vụ</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        @RenderBody()
    </div>
    <footer class="container well mt-4">
        <div class="text-center">
            <p>ADMIN</p>
        </div>
    </footer>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>
@RenderSection("scripts", required: false)