@model DichVuThuCungKVH.Model.NhanVien

@{
    ViewBag.Title = "Chi Tiết Nhân Viên";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi Tiết Nhân Viên</h2>

<div>
    <h4>Thông Tin Nhân Viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Nhân Viên
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenNV)
        </dd>

        <dt>
            Chức Vụ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChucVu)
        </dd>

        <dt>
            Chi Nhánh
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChiNhanh)
        </dd>

        <dt>
            Ngày Sinh
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            Số Điện Thoại
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Địa Chỉ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Giới Tính
        </dt>
        <dd>
            @(Model.GioiTinh == true ? "Nam" : "Nữ")
        </dd>

        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Tên Tài Khoản
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.TenTK)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaNV }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</p>