@model IEnumerable<DichVuThuCungKVH.Model.NhanVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản Lý Nhân Viên</h2>

<p>
    <a href="@Url.Action("Create", "NhanViens")" class="btn btn-primary">Tạo mới</a>
</p>


<div class="table-responsive-xxl">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Mã Nhân Viên</th>
                <th>Tên</th>
                <th>Chức Vụ</th>
                <th>Chi Nhánh</th>
                <th>Ngày Sinh</th>
                <th>SĐT</th>
                <th>Địa Chỉ</th>
                <th>GT</th>
                <th>TK</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.MaNV)</td>
                    <td>@Html.DisplayFor(modelItem => item.TenNV)</td>
                    <td>@Html.DisplayFor(modelItem => item.ChucVu)</td>
                    <td>@Html.DisplayFor(modelItem => item.ChiNhanh)</td>
                    <td>@Html.DisplayFor(modelItem => item.NgaySinh)</td>
                    <td>@Html.DisplayFor(modelItem => item.SDT)</td>
                    <td>@Html.DisplayFor(modelItem => item.DiaChi)</td>
                    <td>@Html.DisplayFor(modelItem => item.GioiTinh)</td>
                    <td>@Html.DisplayFor(modelItem => item.TaiKhoan.TenTK)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="@Url.Action("Edit", "NhanViens", new { id = item.MaNV })" class="btn btn-warning btn-sm">Sửa</a>
                            <a href="@Url.Action("Details", "NhanViens", new { id = item.MaNV })" class="btn btn-info btn-sm">Chi tiết</a>
                            <a href="@Url.Action("Delete", "NhanViens", new { id = item.MaNV })" class="btn btn-danger btn-sm">Xóa</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>