@model IEnumerable<DichVuThuCungKVH.Model.NhanVien>

@{
    ViewBag.Title = "Danh Sách Nhân Viên";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh Sách Nhân Viên</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Tên Nhân Viên
        </th>
        <th>
            Chức Vụ
        </th>
        <th>
            Chi Nhánh
        </th>
        <th>
            Ngày Sinh
        </th>
        <th>
            Số Điện Thoại
        </th>
        <th>
            Địa Chỉ
        </th>
        <th>
            Giới Tính
        </th>
        <th>
            Email
        </th>
        <th>
            Tên Tài Khoản
        </th>
        <th>
            Hành Động
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiNhanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @(item.GioiTinh == true ? "Nam" : "Nữ")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan.TenTK)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaNV }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaNV }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaNV }, new { @class = "btn btn-danger", onclick = "return confirm('Bạn có chắc chắn muốn xóa nhân viên này?');" })
            </td>
        </tr>
    }
</table>