@model DichVuThuCungKVH.Model.DonHang

@{
    ViewBag.Title = "Chỉnh Sửa Đơn Hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chỉnh Sửa Đơn Hàng</h2>

@using (Html.BeginForm("SuaDonHang", "NhanViens", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thông Tin Đơn Hàng</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaDH)

        <div class="form-group">
            @Html.LabelFor(model => model.NgayDat, "Ngày Đặt", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NgayDat, "{0:yyyy-MM-dd HH:mm:ss}", new { @class = "form-control", @type = "datetime-local" })
                @Html.ValidationMessageFor(model => model.NgayDat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayGiao, "Ngày Giao", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NgayGiao, "{0:yyyy-MM-dd HH:mm:ss}", new { @class = "form-control", @type = "datetime-local" })
                @Html.ValidationMessageFor(model => model.NgayGiao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrangThaiThanhToan, "Trạng Thái Thanh Toán", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TrangThaiThanhToan, new List<SelectListItem>
                {
                    new SelectListItem { Text = "Đã thanh toán", Value = "true" },
                    new SelectListItem { Text = "Chưa thanh toán", Value = "false" }
                }, "-- Chọn Trạng Thái --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TrangThaiThanhToan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </div>
    </div>
}