@model DichVuThuCungKVH.Model.DonHang

@{
    ViewBag.Title = "Thông Tin Chi Tiết Đơn Hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông Tin Chi Tiết Đơn Hàng</h2>

<div>
    <h4>Thông Tin Đơn Hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Đơn Hàng
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaDH)
        </dd>

        <dt>
            Ngày Đặt
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            Ngày Giao
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayGiao)
        </dd>

        <dt>
            Trạng Thái Thanh Toán
        </dt>
        <dd>
            @(Model.TrangThaiThanhToan == true ? "Đã thanh toán" : "Chưa thanh toán")
        </dd>
    </dl>
</div>

<div>
    <h4>Chi Tiết Đơn Hàng</h4>
    <table class="table">
        <tr>
            <th>Mã Sản Phẩm</th>
            <th>Số Lượng</th>
            <th>Đơn Giá</th>
            <th>Thành Tiền</th>
        </tr>
        @if (Model.CTDonHangs != null && Model.CTDonHangs.Any())
        {
            foreach (var ctDonHang in Model.CTDonHangs)
            {
                <tr>
                    <td>@ctDonHang.MaSP</td>
                    <td>@ctDonHang.SoLuong</td>
                    <td>@ctDonHang.DonGia VNĐ</td>
                    <td>@(ctDonHang.SoLuong * ctDonHang.DonGia) VNĐ</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">Không có chi tiết đơn hàng.</td>
            </tr>
        }
    </table>
</div>

<p>
    @Html.ActionLink("Quay lại danh sách đơn hàng", "Index", null, new { @class = "btn btn-secondary" })
</p>