    <div class="container_menu">

    <div class="navone">

        <p class="lbl">DANH MỤC SẢN PHẨM <i class="fa fa-caret-down text-25"></i></p>

        <ul class="ul primary">
            <li class="not-pro"><a href="/"><span class="span-root">Trang chủ</span></a></li>
            <li class="is-pro">
                <a href="#">
                    <span class="span-root">Shop thú cưng</span>
                </a>
                <div class="level2">
                    <div class="box-sub-nav  clear ">
                        <a href="#id1" class="cat1" title="Dịch Vụ">
                            Danh Sách Các Dịch Vụ
                        </a>


                    </div>

                    <div class="box-sub-nav  clear ">
                        <a href="#id2" class="cat1" title="Sản Phẩm">
                            Danh Sách Các Sản Phẩm
                        </a>


                    </div>
                </div>
            </li>


            <li class="is-pro">
                <a href="@Url.Action("DichVu","DVTC")">
                    <span class="span-root">Dịch vụ thú cưng</span>
                </a>
                <div class="level2">
                    <div class="box-sub-nav  clear ">
                        <a href="#" class="cat1" title="Chăm sóc thú cưng">
                            Chăm sóc thú cưng
                        </a>
                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Khách sạn chó mèo">
                            Khách sạn chó mèo
                        </a>
                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Dịch vụ tắm cho chó mèo">
                            Dịch vụ tắm cho chó mèo
                        </a>
                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Dịch vụ trông giữ chó mèo">
                            Dịch vụ trông giữ chó mèo
                        </a>
                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Spa cho thú cưng là gì?">
                            Spa cho thú cưng là gì?
                        </a>
                    </div>
                    <div class="box-sub-nav  clear ">
                        <a href="#" class="cat1" title="Dịch vụ cắt tỉa lông chó mèo">
                            Dịch vụ cắt tỉa lông chó mèo
                        </a>
                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Cứu hộ thú cung">
                            Cứu hộ thú cung
                        </a>
                    </div>
                    <div class="box-sub-nav ">
                        <a href="#" class="cat1" title="Thời trang thú cưng">
                            Thời trang thú cưng
                        </a>
                    </div>
                </div>
            </li>

            <li class="is-pro">
                <a href="#">
                    <span class="span-root">Tài Khoản</span>
                </a>
                <div class="level2">
                    <div class="box-sub-nav  clear ">
                        <a href="@Url.Action("DangNhap","User")" class="cat1" title="Đăng nhập ">
                            Đăng Nhập
                        </a>
                    </div>
                    <div class="box-sub-nav ">
                        <a href="@Url.Action("DangKy","User")" class="cat1" title="Đăng Ký">
                            Đăng Ký
                        </a>
                    </div>
                </div>
            </li>
            <li class="is-pro">
                <a href="#">
                    <span class="span-root">Người Dùng</span>
                </a>
                <div class="level2">
                    <div class="box-sub-nav clear">
                        <a href="@Url.Action("DanhSachThuCung","DSachThuCung")" class="cat1" title="ds thú cưng ">
                            Danh Sách Thú Cưng
                        </a>
                    </div>
                    <div class="box-sub-nav ">
                        <a href="@Url.Action("DonHang","DSachThuCung")" class="cat1" title="Đơn hàng">
                            Đơn Hàng
                        </a>
                    </div>
                    <div class="box-sub-nav ">
                        <a href="@Url.Action("KhachHang","DSachThuCung")" class="cat1" title="Thông tin ">
                            Thông Tin Khách Hàng
                        </a>
                    </div>
                </div>
            </li>
            <li class="is-pro">
                <a href="@Url.Action("Login", "Home", new { area = "Admin" })">
                    <span class="span-root">Admin</span>
                </a>
            </li>
        </ul>
    </div><!--//-->

    <div class="clear"></div>
</div>