@model List<DichVuThuCungKVH.Model.SanPham>
<div class=row>
    <section class="col-md-12 md-section">
        <div class="row ">
            <section class="homepage-row-product">
                <div class="row">
                    <div class="homepage-row-product-title text-center">
                        <h2>
                            <a href="" title="Shop">Sản Phẩm Thú Cưng</a>
                            <hr class="underline-title">
                        </h2>
                    </div>
                </div>
                @foreach (var sanPham in Model)
                {
                    <div class="col-md-3">
                        <div class="product-block text-center">
                            <a href="#" title="@sanPham.TenSP">
                                <div class="img-wrap">
                                    <img src="~/Images/SanPham/@sanPham.Anh" alt="@sanPham.TenSP">
                                </div>
                                <h3 style="min-height:10px;">
                                    <a href="@Url.Action("ChiTietSanPham","DVTC", new { id = sanPham.MaSP })" class="text-decoration-none">@sanPham.TenSP</a>
                                </h3>
                                <h4 class="product-price">
                                    <div class="price">@sanPham.GiaBan</div>
                                </h4>
                            </a>
                            <a href="@Url.Action("ThemGioHang","GioHang", new { ms = sanPham.MaSP, url = Request.Url.ToString() })" class="btn btn-danger btn-custom-product-add" onclick="add_to_cart(this);" data-id="@sanPham.MaSP" >
                                Chọn mua
                            </a>
                        </div>
                    </div>
                }
        </div>
    </section>
</div>
<style>
    .btn-custom-product-add {
        background-color: #3498db; /* Màu nền của nút */
        color: #fff; /* Màu chữ của nút */
        padding: 8px 15px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

        .btn-custom-product-add:hover {
            background-color: #2980b9; /* Màu nền của nút khi di chuột vào */
        }
</style>